html, body{
	padding:0;
	margin:0;
	width:100%;
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
html footer{
	padding-bottom: 0;


}
a:link{
	color: white;
	text-decoration: none;
}
a:active {
    color: white;
		text-decoration: none;
}
a:hover {
    color: white;
		text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
#first-letter{
	font-size:4em;
}
.background-video{
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	  transform: translate(-50%, -50%);

}
.top-container{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display:flex;
	width:100%;
	height:300px;
	justify-content: flex-end;
	/*background-image: url(./photos/space-man.png);
	background-position: center;*/

}
.top-container3{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display:flex;
	width:100%;
	height:200px;
	height:300px;
	justify-content: flex-end;
	background-image: url(./photos/space-man.png);
	background-position: center;
		background-position:;
background-position: 10% 22%;
    height: 700px;
}
.top-container2{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display:flex;
	width:100%;
	color:white;
	justify-content: center;
	margin-top: 180px;
}
.site-title{
	color:white;
	align-content: flex-end;
	margin-top: auto;
	letter-spacing: -2px;
	font-family: 'Poppins', sans-serif;
	font-size: 5em;

	    justify-content: center;
	    display: flex;
}

#menu-button{
	color:white;
	flex-direction: row;
	align-self: flex-start;
	z-index: 6;

	/*background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;*/
    /*overflow: hidden;
    outline:none;*/
    position:fixed;
        top: 40px;
    right: 30px;

}
.title{
	font-family: 'Poppins', sans-serif;
}
#menu-button{
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-button span {

	border: .5px solid black;
filter: invert(100%);
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: white;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-button span:nth-child(1) {
  top: 0px;
}

#menu-button span:nth-child(2) {
  top: 18px;
}

#menu-button span:nth-child(3) {
  top: 36px;
}

#menu-button.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-button.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#menu-button.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.center-menu{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display:flex;
	justify-content: center;
	align-content: center;
}


.bio-div{
	width:100%;
	background-color: white;
	height:20%;
	display:flex;
	justify-content: center;
    margin-top: 300px;
    z-index: 2;

}
.bio-p-container{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display:flex;
	flex-direction:row;
	width:600px;
justify-content: center;
flex-direction:row;
padding-bottom: 100px;

}
.bio-p-container p{
font-family: 'Poppins', sans-serif;
text-indent: 15px;
letter-spacing:.5px;
line-height: 20px;
font-weight: 500;
text-align: justify;
}
.more-arrow{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display: flex;
	color:white;
	font-stretch:semi-expanded;
	    justify-content: center;
	    -moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
  position:fixed;
    width:100%;
      /*  margin-top: 198px;*/
        padding-top: 0px;
z-index:-2;
}

.bio-img{
	width:200px;
 height:200px;
 border-radius: 50%;
 background-color:black;
flex-direction: row;
margin:30px;
filter: grayscale(100%);

}

.head-bio{
	flex-direction: row;
	display:flex;
	margin-top: 100px;
}
.photo-bio{
flex-direction: row;
border-radius: 50%;
}
.title{
	margin-top:100px;
}
.gallery-center{
width:100%;
/*display: flex;*/
}
.photoscontainer{
 width:100%;
 background-color: white;
 height:auto;
 z-index: 1;
 align-items: center;
 justify-content: center;
 padding-top: 100px;

}
.photo-rowgrid{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left:6em;
	margin-right:6em;

	}

.cell{
	 width: calc(100% / 3);
   height:600px;
}
.responsive-image{
 max-width: 100%;
}
.project_title{
	font-family: 'Poppins', sans-serif;
	height:50px;
	font-size: 1.5em;
}
#footer{
	background-color:black;
	width:100%;
	padding:0;
	margin:0;
 	display:flex;
 	justify-content: center;
	padding-bottom: 0px;

}
.social_row{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
    display: flex;
	width:350px;

}
.social-1 img{
 width:40px;
 height:40px;
 border-radius: 50%;
 background-color:white;
flex-direction: row;
margin:20px;
padding:10px;

}
.social-2 img{
width:40px;
 height:40px;
 border-radius: 50%;
 background-color:white;
flex-direction: row;
margin:20px;
padding:10px;
}
.social-3 img{
width:40px;
 height:40px;
 border-radius: 50%;
 background-color:white;
 margin: 20px;
 padding:10px;

}
.contact_row{
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
 display:flex;
 flex-direction: row;
 justify-content: flex-end;
 width:550px;
 letter-spacing: 3px;
 justify-content: space-between;
}
.phone_number{
	padding:10px;
color:white;
margin-top: 30px;
letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
}
.email{
	padding:10px;
color:white;
margin-top: 30px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;

}
.project_description{
	font-style: italic;
	font-size: .9em;
	font-family: 'Poppins', sans-serif;
text-align: justify;
width: 300px;
    line-height: 1.5;
}
.pop-menu-show {
	display: block;
}

.pop-menu {
	background-color: green;
	color:white;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	z-index: 5;
	display: none;

	margin:0;
  position:fixed;
	padding-right:0;

}

.menu-options {
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
	display: flex;

}

.menu-options ul{
list-style:none;
text-decoration: none;
flex-direction: column;
display:flex;
padding-top: 2em;
width:100px;
align-items: center;
justify-content: center;

}
.menu-options li{
width:100%;
height:150px;
font-family: 'Poppins', sans-serif;
font-size: 1em;
align-items: center;
justify-content: center;
font-size:2em;
}
.social-menu .site-title{
display:flex;
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;
justify-content: center;
}
.social-menu ul{
list-style:none;
text-decoration: none;
flex-direction: row;
display:flex;
margin-right:170px;
margin-left:0px;
width:100%;
padding-left:0px;
align-items: center;
justify-content: space-around;
}
.social-menu li{
justify-content: space-around;
padding-top: 10px;
padding-bottom: 150px;
font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
		.cell{
		width: calc(100% / 2);
		padding-left: auto;
		padding-right: auto;
		height:600px;


 }
 .responsive-image{
	max-width: 100%;

 }
 .photo-rowgrid{
	 flex-direction: row;
	 justify-content:center;
	 }
	 .photoscontainer{
		 display: flex;
		 flex-wrap: wrap;
		width:100%;
		background-color: white;
		height:auto;
		z-index: 1;
		align-items: center;
		justify-content: center;
		padding-bottom: 100px;

	 }
	 .site-title{
		 font-size:3.9em;
	 }
}


/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 610px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
		html, body{
			padding:0;
			margin:0;
			width:100%;
			display: flex;
			    flex-direction: column;
					background-color: black;
		}
		.cell{
			 width: calc(100% / 2);
		   height:600px;


		}
		.responsive-image{
		 max-width: 100%;

		}
		.photo-rowgrid{
			flex-direction: row;
			justify-content:center;
			}
			.photoscontainer{
				display: flex;
				flex-wrap: wrap;
			 width:100%;
			 background-color: white;
			 height:auto;
			 z-index: 1;
			 align-items: center;
			 justify-content: center;
			 padding-top: 100px;

			}
			.site-title{
				font-size:3.9em;
			}
}
 /*Form styles*/

 .header{
	 width:100%;
	 display:flex;
	 justify-content: center;
	   font-family: 'Poppins', sans-serif;
		 z-index: 3;
 }
 .header h1{
	 justify-content: center;
	 color:black;
	 font-size: 2em;
 }
 form{
	 margin-left: 120px;
	 padding-top : 100px;
 }
 .wrapper{
	 background:#fff;
	 padding 40px, 60px;
	 margin:80px
 }
.pesan-text{
	position:relative;
	padding:16px 20px;
	background-color:#e06666;
	color:#fafafa;
	text-align:center;
	line-height:1.5em;
	font-size:24px;
	margin-bottom:30px
}
form{
	padding-bottom: 100px;

}
.contact-form-box{
	width:100%;
	margin:10px auto;
	padding:0;
	width: 960px;
position: relative;
margin:0 auto;
line-height: 1.4em;
 }
#ContactForm1_contact-form-name, #ContactForm1_contact-form-email{
	width: 80%;
	height:auto;
	margin: 5px auto 10px;
	padding: 10px;
	background: #fff;
	border: 2px solid #ccc;
	color:#999;
}
#ContactForm1_contact-form-name:focus, #ContactForm1_contact-form-email:focus, #ContactForm1_contact-form-email-message:focus{
	background: #ececec;
	outline:none}
#ContactForm1_contact-form-email-message{
	width: 80%;
	height: 150px;
	margin: 5px auto;
	padding: 10px;
	background: #fff;
	border: 2px solid #ccc;
	color:#999;
	font-family:Arial, sans-serif;
}
#ContactForm1_contact-form-submit {
	display:block;
	float: left;
	font-size:24px;
	color: #fafafa;
	padding: 20px 40px;
	margin: 10px 0 5px 0;
	cursor: pointer;
	background-color:green;
	border:1px solid #68C3A3;
	font-family: 'Poppins', sans-serif;
}
#ContactForm1_contact-form-submit:hover {
	background-color:red;
	border:1px solid #e06666
}
#ContactForm1_contact-form-submit:active {
	position:relative;
	top:2px;
}
#ContactForm1_contact-form-submit:focus{
	outline:none
}
#ContactForm1_contact-form-error-message{
	font-size:18px;
	color:#e06666;
	width: 100%;
	margin-top:10px;
	text-align:left
}
#ContactForm1_contact-form-success-message{
	font-size:18px;
	color:#1abc9c;
	width: 100%;
	margin-top:10px;
	text-align:left
}
@media screen and (max-width: 768px){
.contact-form-box{width:100%;}
#ContactForm1_contact-form-name, #ContactForm1_contact-form-email,#ContactForm1_contact-form-email-message{width: 100%;}
}
@media screen and (max-width: 480px){
#ContactForm1_contact-form-name, #ContactForm1_contact-form-email,#ContactForm1_contact-form-email-message{width: 100%;}
}

.pop-menu-show2 {
	display: block;
}

.pop-menu2 {
	background-color: green;
	color:white;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	z-index: 5;
	display: none;

	margin:0;
  position:fixed;
	padding-right:0;

}

.menu-options2 {
	display: flex;

}

.menu-options2 ul{
list-style:none;
text-decoration: none;
flex-direction: column;
display:flex;
padding-top: 2em;
width:100px;
align-items: center;
justify-content: center;

}
.menu-options2 li{
width:100%;
height:150px;
font-family: 'Poppins', sans-serif;
font-size: 1em;
align-items: center;
justify-content: center;
font-size:2em;
}
.social-menu .site-title{
display:flex;
justify-content: center;
}
.social-menu ul{
list-style:none;
text-decoration: none;
flex-direction: row;
display:flex;
margin-right:170px;
margin-left:0px;
width:100%;
padding-left:0px;
align-items: center;
justify-content: space-around;
}
.social-menu li{
justify-content: space-around;
padding-top: 10px;
padding-bottom: 150px;
font-family: 'Poppins', sans-serif;
	font-size: 1em;
}
blockquote{
	color:white;
	font-family: 'Poppins', sans-serif;
	display:flex;
	justify-content: center;
font-style: italic;
font-size:1em;
width:80%;


}

blockquote h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.site-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-left: .15em solid orange;
	  border-right: .15em solid orange;/* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin:auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/*stars*/
@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}



.p{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.p-1{
  animation-duration:10s;
}
.p-2{
  animation-duration:5s;
  top:60%;
}
.p-3{
  animation-duration:20s;
  top:90%;
}
.p-4{
  animation-duration:15s;
  top:90%;
}
.more-arrow2{
	display: flex;
	color:white;
	font-stretch:semi-expanded;
			justify-content: center;
			-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
	position:fixed;
		width:100%;
			/*  margin-top: 198px;*/
				padding-top: 0px;
	z-index:2 ;
}
